<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elementos - API</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <header class="bg-secondary">
        <h1 class="text-light text-center py-3">Tabla periodica - API</h1>
    </header>
    <div class="container">
        <main>
            <h2 class="text-info">Info</h2>
            <p>
                Mi primera API funcional que usa solo metodo el HTTP GET. La idea de mi proyecto surgió al conocer que Bill Gates tiene montada en la pared de su oficina  
                una tabla periodica gigante con muestras o representaciones de todos los elementos quimicos.
            </p>
        </main>
        <h2 class="text-decoration-underline text-info">Rutas</h2>
        <section>
            <article>
                <h3 class="text-info">/todos</h3>
                <p>
                    Regresa un JSON con todos los elementos de la tabla periódica.
                </p>
            </article>
            <article>
                <h3 class="text-info">/simbolo/&lt;simbolodelelemento&gt;</h3>
                <p>
                    Regresa un solo elemento de la tabla periódica. Por ejemplo. Si deseara buscar el elemento cobre su consulta debería ser <span class="text-info fw-bold">/simbolo/Cu</span>
                </p>
            </article>
            <article>
                <h3 class="text-info">/electrones/&lt;numerodeelectrones&gt;</h3>
                <p>
                    Regresa un solo elemento de la tabla periódica. Si desea buscar el elemento posea que 79 como número atómico su consulta debería ser <span class="text-info fw-bold">/electrones/79</span>
                </p>
            </article>
            <article>
                <h3 class="text-info">/serie/&lt;nombredeserie&gt;</h3>
                <p>
                    Regresa un JSON con los elementos de la tabla periódica que concuenden con esa serie química. Si quisiera consultar sobre los elemento de tipo no metales su consulta debería ser <span class="text-info fw-bold">/serie/nometales</span>
                </p>
                <p>Todas las opciones:</p>
                <ul class="list-group">
                    <li class="list-group-item">No metales - <span class="text-info fw-bold">api-tabla-periodica-herokuapp.com/serie/nometales</span></li>
                    <li class="list-group-item">Metaloides - <span class="text-info fw-bold">api-tabla-periodica-herokuapp.com/serie/metaloides</span></li>
                    <li class="list-group-item">Metales alcalinos - <span class="text-info fw-bold">api-tabla-periodica-herokuapp.com/serie/metalesalcalinos</span></li>
                    <li class="list-group-item">Metales alcalinoterreos - <span class="text-info fw-bold">api-tabla-periodica-herokuapp.com/serie/metalesalcalinoterreos</span></li>
                    <li class="list-group-item">Metales de transición - <span class="text-info fw-bold">api-tabla-periodica-herokuapp.com/serie/metalesdetransicion</span></li>
                    <li class="list-group-item">Metales del bloque p - <span class="text-info fw-bold">api-tabla-periodica-herokuapp.com/serie/metalesbloquep</span></li>
                    <li class="list-group-item">Gases nobles - <span class="text-info fw-bold">api-tabla-periodica-herokuapp.com/serie/gasesnobles</span></li>
                    <li class="list-group-item">Halogenos - <span class="text-info fw-bold">api-tabla-periodica-herokuapp.com/serie/halogenos</span></li>
                  </ul>
            </article>
        </section>
    </div>
    <footer class="mt-3 py-2 bg-secondary w-100 text-center text-light fw-bolder">
        Diseñada por J.S.Solezzi
    </footer>
</body>
</html>